/* Inter google link */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* .....................shared..................... */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--primary-background);
}
 :root{
    --primary-background: #1A0B2E;
    --white-font:#FFFFFF;
 }
.btn-primary{
    padding: 10px 14px;
    color: var(--white-font);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    border-radius: 10000px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    cursor: pointer;
    border: none;
    
    
}
.btn-primary:hover{
    color: greenyellow;
    border-radius: 8px;
    box-shadow: 3px 5px 5px rgb(71, 231, 156);
}



p{
     color: rgb(155, 145, 145);
     background: transparent;
}



/* .............main.................. */
/* .................navbar............... */
header{
    margin: 2px auto;
}
header>nav .logo{
    color: var(--white-font);
    cursor: pointer;
}
header>nav .logo:hover{
      background-color: #FB09B4;
    padding: 2px;
    border-radius: 8px;
    box-shadow: 3px 5px 5px rgb(71, 231, 156);
}
#wave{
  /* Fallback color for older browsers */
  color: #FB09B4;
  
  

}
header>nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1360px;
    margin: 14px 10%;

}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    cursor: pointer;
    color: var(--white-font);
}
.nav-menu>p:hover{

    background-color: #FB09B4;
    padding: 2px;
    border-radius: 8px;
    box-shadow: 3px 5px 5px rgb(71, 231, 156);
}

.aro-right img{
    background-color: transparent;
}
.hamburger{
    display: none;
    cursor: pointer;
}

/*.....................hero section.............................. */
.hero-bg{

     background-image: url('../images/hero-bg.png');
     background-repeat: no-repeat;
     background-size: cover;
     width: 100%;
     height: 100vh;
     background-position: center;
     position: relative;
     filter: drop-shadow(1px 1px 5px rgb(71, 231, 156));
    

}
.hero-circle{
    background-color: transparent;
    width: 20rem;
    height: 20rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -75%);
    
    
}
.microphone{
    background-color: transparent;
    height: 10rem;
    width: 7rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    animation: mymov 2s ease-in-out 3s infinite alternate;
      
}
@keyframes mymov {
    from{
        left: 46%;
    }
   

}

.new{
   font-size: 1rem;
    background-color: #00FF88;
    padding: 8px 16px;
    border-radius: 1000px;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
    background: var(--#00FF88, rgba(0, 255, 136, 1));
    position: absolute;
    top: 25%;
    left: 60%;
    color: white;
    transform: translate(-50%, -50%);
    filter: drop-shadow(1px 1px 10px rgb(71, 231, 156));

    animation: bounce 2s ease-in-out 3s infinite alternate;

}
@keyframes bounce {
    from{
        top: 20%;
    }

}

.hero-btn{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    background: transparent;

}
.hero-btn button{
    width: 160px;
}
.btn-primary img{
    background: transparent;
}
.btn-secondery{
    background: transparent;
    color: #00FF88;
    box-sizing: border-box;
    border: 1px solid var(--#00FF88, rgba(0, 255, 136, 1));
    border-radius: 10000px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 10px 14px;
    border: 1px solid #00FF88;
    
}
.btn-secondery:hover{
    color: orange;
}
.hero-content{
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 80%;
    left: 50%;
     transform: translate(-50%, -50%);
     gap: 1rem;
     max-width: 550px;
     background: transparent;
     margin: 0 auto;
    
}
.hero-content >h1{
    color: var(--white-font);
    background: transparent;
}
.hero-content>p{
    text-align: center;
}
.podcast-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    max-width: 650px;
     max-width: 60%;
    margin: 3rem auto;
    
}
.podcast-container>h2{
    color: var(--white-font);
}
.podcast-container>p{
    text-align: center;
}


.border{
    border: 1px solid var(--#7c7777, rgb(241, 237, 237));
    opacity: 0.1;
    max-width: 1000px;
    margin: 10px auto;
}
/*.................. rating container.................... */
.rating{
    /* margin: 100px auto; */
    max-width: 1360px;
    
    margin: 6rem auto;

}
.rating-container{
    display: grid;
    grid-template-columns: repeat(4, 200px);
    align-self: center;
    justify-content: center;
    gap: 6rem;
    padding-left: 6rem;

}

.rating-content{
    
    display: flex;
    flex-direction: column;
     align-self: center;
    justify-content: center;

}
.rating-content h1{
    color: #00FF88;
}


/*.................. choose-tech-container............ */
.choose-tech-container{
    margin: 1rem auto;
    
  
}
.choose-tech-container>h1{
    color: var(--white-font);
    text-align: center;
}

.choose-tech{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 200px);
    gap: 1.5rem;
    max-width: 1100px;
    min-height: 700px;
    margin: 2rem auto;
    height: 600px;
}
.grid-items{
    background-color: #351165;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    padding:1.2rem;
    gap: 0.6rem;
    justify-content: center;
    
}
.grid-items:hover{
    background-color: #130a1f;
    box-shadow: 3px 5px 5px rgb(71, 231, 156);
    transition: 1s ease-in-out 0.3s;
    
}

.grid-items>h3{
    background: transparent;
    color: var(--white-font);
}
.grid-items img{
    width: 3.4rem;
    height: 3.75rem;
    background: transparent;

    
}
.grid-box1{
    grid-row:1/span 2;

}
.grid-box2{
    grid-column: 2/span 2;
}
.grid-box3{
    grid-column:2/span 2;

}
.grid-box4{

    grid-column:1/span 2;

}
/* .grid-box5{

    

} */



/* ..............................episodes container................................ */
.episodes-container{
    max-width: 1100px;
    margin: 2rem auto 0rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.episodes-container>h1,.episodes-card>h3{
    color:var(--white-font);
    background: transparent;
}
.episodes-container>h1{
    margin: 1rem auto;
}
.episodes-content{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  /* height: 27rem; */
  gap: 1rem;

}
.episodes-card{
    background-color: #351165;
    max-width: 360px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    border-radius: 12px;
    padding: .3rem;

}
.episodes-card:hover{  
    box-shadow: 3px 5px 5px rgb(71, 231, 156);
}
.clock{
    color: #00FF88;
    display: flex;
    gap: .7rem;
    background: transparent;
}
.clock img{
    background: transparent;
}


/* ...............................meet container.................................. */
.meet-container{
    margin: 8rem auto;
    max-width: 1100px;
}
.meet-container>h1{
    text-align: center;
    color: var(--white-font);
}
.meet-content{
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.host-img{
    width: 50%;
    height: 50%;
    filter: drop-shadow(1px 1px 20px rgb(71, 231, 156));
    background: transparent;
    
}
.host-introduce>h2{
    color: var(--white-font);
    margin: 1rem;
}
.host-social{
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    margin: 1rem;
    cursor: pointer;
}

/* ..............................footer................. */
footer{
    background-image: url("../images/footer-bg.png");
    background-repeat: no-repeat;
     background-size: cover;
     width: 100%;
     height: 45vh;
     background-position: center;
    
     margin: 2rem auto;
     position: relative;
     
}
.footer-content>h1, .footer-content>p, .footer-content>h5{
    background-color: transparent;
    color: rgb(155, 145, 145);
    text-align: center;
    cursor: pointer;

}
.footer-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    max-width: 500px;
    background: transparent;
    padding: 1rem;
    width: 32rem;
    height: 20rem;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.footer-social{
    display:grid;
    justify-content: center;
    place-items: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.5rem;
    background: transparent;
    cursor: pointer;
}
.footer-social img{
    height:24px ;
    width:24px;
}
.footer-social>p{
    color: rgb(155, 145, 145);
    display: flex;
    gap: .5rem;
}









/* //////////////////////////////////////////( responsive breakpiont small device- 576px )////////////////////////////////////////////// */
@media screen and (max-width:576px){
    header>nav{
    margin: 6% 10%;

}
.none{
    display: none;
}
.hamburger{
    display:inline;
}
/* \\\\\\\\hero section/////////////// */
.hero-circle{
    background-color: transparent;
    width: 15rem;
    height: 15rem;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -75%);    
}
.microphone{
    background-color: transparent;
    height: 7rem;
    width: 5rem;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -100%);
}
.new{
    top: 25%;
    left: 75%;
}
.hero-content{
    top: 75%;
}
/* ...................rating container................. */

.rating-container{
    grid-template-columns: repeat(2, 180px);
    margin: 6% auto;
    gap: 1rem;
    
}
/* ........choose tech......... */
.choose-tech{
    display: block;
    margin: 1.5rem;

}
.grid-items{
    margin: 1.5rem;   
}
/* .................episodes content responsive............... */
.episodes-container{
    max-width: 1100px;
    margin: 30rem auto 0rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
 .episodes-content{
  display:block;
  margin: 0 auto;

}
.episodes-card{  
 margin: 1rem auto;
}

/* .....................meet host................ */
.meet-container{
    margin: 3rem auto;
}
.meet-content{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}
.host-introduce{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

/* ..................footer......................... */
.footer-social{
    grid-template-columns: repeat(2, 1fr);
    gap:1.5rem;
}

}


/* //////////////////////////////////////////( responsive breakpiont medium device-(576px to 992px )///////////////////////////////////// */
@media screen and (min-width: 577px) and (max-width: 992px){
    header>nav>h1{
        font-size: 500;
        font-family: inter;
    }
    .nav-menu{
    /* display: flex; */
    /* justify-content: space-around; */
    gap: 1.5rem;
    padding: 0 .5rem;
    
}
header>nav{
    margin: 4px 10%;
    padding: .5rem;

}
.rating-container{
    grid-template-columns: repeat(2, 200px);
    margin: 4% auto;
    gap: 5rem;
    
}

.episodes-container{
    max-width: 992px;
}
.episodes-content{
  display:flex;
  flex-wrap: wrap;
  flex: 1;
  margin: 0 auto;
  justify-content: center;

}
.choose-tech{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 1rem;
    margin-bottom: 24rem;

}
 
}
