/* Inter google link */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* .....................shared..................... */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--primary-background);
}
 :root{
    --primary-background: #1A0B2E;
    --white-font:#FFFFFF;
 }
.btn-primary{
    padding: 10px 14px;
    color: var(--white-font);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    border-radius: 10000px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    cursor: pointer;
}




/* .............main.................. */
header>nav .logo{
    color: var(--white-font);
    cursor: pointer;
}
#wave{
  /* Fallback color for older browsers */
  color: #FB09B4;

}
header>nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1360px;
    margin: 14px 10%;

}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    cursor: pointer;
    color: var(--white-font);
}

.aro-right img{
    background-color: transparent;
}
.hamburger{
    display: none;
    cursor: pointer;
}

/*.....................hero section.............................. */
.hero-bg{
    background-image: url('./images/hero-bg.png');
    /* background-size: cover;
    background-repeat: no-repeat; */
    width: 500px;
    height: 500px;


}





/* ///////////////////////responsive breakpiont//////////////////// */
@media screen and (max-width:576px){
    header>nav{
    margin: 6% 10%;

}
.none{
    display: none;
}
.hamburger{
    display:inline;
}

}
