/* Inter google link */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* .....................shared..................... */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--primary-background);
}
 :root{
    --primary-background: #1A0B2E;
    --white-font:#FFFFFF;
 }
.btn-primary{
    padding: 10px 14px;
    color: var(--white-font);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    border-radius: 10000px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    cursor: pointer;
    border: none;
    
    
}
.btn-primary:hover{
    color: greenyellow;
}




/* .............main.................. */
header>nav .logo{
    color: var(--white-font);
    cursor: pointer;
}
#wave{
  /* Fallback color for older browsers */
  color: #FB09B4;

}
header>nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1360px;
    margin: 14px 10%;

}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    cursor: pointer;
    color: var(--white-font);
}

.aro-right img{
    background-color: transparent;
}
.hamburger{
    display: none;
    cursor: pointer;
}

/*.....................hero section.............................. */
.hero-bg{

     background-image: url('../images/hero-bg.png');
     background-repeat: no-repeat;
     background-size: cover;
     width: 100%;
     height: 100vh;
     background-position: center;
     position: relative;
    

}
.hero-circle{
    background-color: transparent;
    width: 20rem;
    height: 20rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -75%);
    
    
}
.microphone{
    background-color: transparent;
    height: 10rem;
    width: 7rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
}
.new{
   font-size: 1rem;
    background-color: #00FF88;
    padding: 8px 16px;
    border-radius: 1000px;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
    background: var(--#00FF88, rgba(0, 255, 136, 1));
    position: absolute;
    top: 25%;
    left: 60%;
    
    transform: translate(-50%, -50%);
}
.hero-btn{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    background: transparent;

}
.hero-btn button{
    width: 160px;
}
.btn-primary img{
    background: transparent;
    background: transparent;
}
.btn-secondery{
    background: transparent;
    color: #00FF88;
    box-sizing: border-box;
    border: 1px solid var(--#00FF88, rgba(0, 255, 136, 1));
    border-radius: 10000px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 10px 14px;
    border: 1px solid #00FF88;
    
}
.btn-secondery:hover{
    color: orange;
}
.hero-content{
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 85%;
    left: 50%;
     transform: translate(-50%, -50%);
     gap: 1rem;
     max-width: 550px;
     background: transparent;
     margin: 0 auto;
    
}
.hero-content >h1 ,p{
    color: var(--white-font);
    background: transparent;
}
.podcast-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    max-width: 650px;
     max-width: 60%;
    margin: 3rem auto;
    
}
.podcast-container>h1{
    color: var(--white-font);
}


.border{
    border: 1px solid var(--#7c7777, rgb(241, 237, 237));
    opacity: 0.1;
    max-width: 1000px;
    margin: 10px auto;
}
/*.................. rating container.................... */
.rating{
    /* margin: 100px auto; */
    max-width: 1360px;
    
    margin: 6rem auto;
}
.rating-container{
    display: grid;
    grid-template-columns: repeat(4, 200px);
    align-self: center;
    justify-content: center;
    gap: 6rem;
    padding-left: 6rem;
      

}

.rating-content{
    
    display: flex;
    flex-direction: column;
     align-self: center;
    justify-content: center;

}
.rating-content h1{
    color: #00FF88;
}


/* ///////////////////////responsive breakpiont//////////////////// */
@media screen and (max-width:576px){
    header>nav{
    margin: 6% 10%;

}
.none{
    display: none;
}
.hamburger{
    display:inline;
}
/* \\\\\\\\hero section/////////////// */
.new{
    top: 25%;
    left: 75%;
}
.rating-container{
    grid-template-columns: repeat(2, 1fr);
    margin: 6% 12%;
    gap: .5rem;
    padding-left: 0;
    
}

}
